@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Command the Battlefield</title>
    <link href="css/StyleSheet.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .indented {
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <img src="~/zach.jpg" id="imgZach" height="350" />
        <img src="~/statswot.png" height="200" />
    </div>

    <div class="hobby-introduction">
        <p style ="font-size: 30px;">"Doug_107" is a veteran player of WoT with over 12 years of experience, and a previous member of a top 20 clan, as well as a prospect of a top 10 clan.</p>
        <p class="indented">
            As your WoT tutor, I bring over a decade of experience navigating the intricate battlefields of World of Tanks. With a tier X tank representing each tank type in my arsenal, I offer comprehensive insights into the diverse strategies and tactics essential for success on the battlefield. Whether you're aiming to master the relentless firepower of heavy tanks, the agile maneuverability of mediums, the cunning stealth of tank destroyers, or the crucial support role of artillery, I'll guide you through the nuances of each class, helping you optimize your playstyle and adapt to every challenge.
            <br /><br />
            Moreover, specializing in tier VIII mediums, I understand the pivotal role these versatile tanks play in the meta. From controlling key positions to flanking enemy lines and exploiting vulnerabilities, tier VIII mediums demand a blend of precision, flexibility, and situational awareness. With extensive experience in clan wars and tier VIII skirmishes, I've honed my skills in high-stakes competitive environments, mastering intricate team strategies and effective communication protocols. Through personalized coaching sessions, I'll share advanced techniques honed through countless battles, empowering you to command the battlefield with confidence and finesse. Together, we'll refine your tactics, perfect your positioning, and elevate your gameplay to new heights, ensuring you emerge victorious in every engagement.
            <br /><br />
            As an advanced player, I specialize in cultivating high-level skills that set elite commanders apart on the battlefield. These skills encompass advanced map awareness, allowing you to predict enemy movements and anticipate strategic opportunities. I'll teach you the art of terrain utilization, leveraging cover and elevation to maximize your tank's effectiveness while minimizing exposure to enemy fire. We'll delve into the intricacies of shell types and aiming techniques, refining your accuracy and penetration tactics to ensure every shot counts. Additionally, I'll guide you in mastering effective positioning and timing, enabling you to dictate engagements and control the flow of battle with precision. Through intensive gameplay analysis and tactical debriefings, I'll help you develop a strategic mindset and adaptability crucial for thriving in dynamic combat scenarios. Together, we'll elevate your gameplay to the highest echelons of skill, empowering you to outmaneuver, outthink, and outgun your adversaries with unparalleled expertise.
        </p>
    </div>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>
</body>
</html>
